@font-face {
    font-family: 'Magtis';
    src: url('/images/Magtis-Free-Personal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lingkawi';
    src: url('/images/Lingkawi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
    margin: 0px;
    background-color: #fbfbf9;
}
&::-webkit-scrollbar {
    display: none;
}